body {
    background-color: #292636;
    color: white;
}

#Section1 {
  text-align: center; 
  font-family: "Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  background-color: #1f242e

}
#Section2 {
  text-align: center; 
  padding-top: 50px; 
  padding-bottom: 50px;
  font-family: "Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  border-bottom: solid #ffffff; 
}
#Section3 {
  text-align: center; 
  padding-top: 50px; 
  padding-bottom: 50px;
  font-family: "Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  border-bottom: solid #ffffff; 
}
#Section4 {
  text-align: center; 
  padding-top: 50px; 
  padding-bottom: 250px;
  font-family: "Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
}
#cat {
  width: 350px;
  height: 350px;

}

#slime {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/* Make the image responsive */
.container img {
   width: 100%;
    height: auto;
    
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }